/**************THE GRID***************/
/**************THE GRID***************/
body {
  background-image: url(../img/bg.png);
  color: #FFFFFF;
  font-family: ‘Trebuchet MS’;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

header {
  height: 110px;
  margin-top: -20px;
  padding-top: 30px;
  background-color: black;
  margin-bottom: 10px;
}

nav a {
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: bold;
  margin: 15px;
  text-decoration: none;
}

#logo {
  float: left;
  height: 100px;
  width: 100px;

}

#header-title {
  font-size: 2.9em;
  margin: 20px;
  font-weight: bolder;
  color: #008B8B;
}

article {
  background-color: #4D4D41;
  height: 494px;
}

section>h2 {
  font-size: 1.5em;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

section>p {
  font-size: 1.0em;
  text-align: center;
  line-height: 1.2em;
}

.Solos{
  color: #008B8B;
  font-style: italic;
}

ul {
  font-size: 1.2em;
  list-style-type: initial;
}

ul>h4 {
  text-align: left;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

li{
  margin-left: 35px;
}

#fizzbuzz {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5em;
  float: right;
  clear: right;
}

button{
  background-color: #00FFFF;
  color: black;
  border: 1px solid;
  border-color: white;
  border-radius: 8px;
}

button:hover{
  border-color: blue;
}

#video{
  margin-top: 10px;
  text-align: center;
  float: left;
  clear: left;
}

#fizzb {
  color: #660066;
}

#fizz {
  color: #003366;
}

#buzz {
  color: #990000;
}

footer {
  background-color: #000000;
  height:70px;
  position: static;
  text-align: center;
  line-height: 1.7em;
}

#footer-title {
  font-size: 1.2em;
  margin-top: 10px;
  text-decoration: underline;
  color: #008B8B;
}

.letra {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
